<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Create Agency and Client</a></li>
            <li class="main-header__item"><a class="<%= path === '/check-client' ? 'active' : '' %>" href="/check-client">Update Client</a></li>
            <li class="main-header__item"><a class="<%= path === '/maxbilling' ? 'active' : '' %>" href="/maxbilling">Max Bill Client</a></li>
        </ul>
    </nav>
</header>